.header{
    font-family: 'Courier New', Courier, monospace;
    color: coral;
    text-align: center;
}

.link{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    font-size: 20px;
    color:darkgoldenrod;
}